apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  name: cp
  criSocket: /var/run/containerd/containerd.sock
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "{{ kube_version }}"
controlPlaneEndpoint: "{{ control_plane_endpoint }}:{{ cp_port }}"
networking:
  podSubnet: {{ pod_subnet }}