[Unit]
Description= {{ sonarqube_service }}       ############### Sonar service Name
After=syslog.target network.target

[Service]
Type=forking
ExecStart={{ sonar_start_script }}           ############## Sonar start script user sonar /data/sonarqube/bin/linux-x86-64/sonar.sh start 
ExecStop={{ sonar_stop_script }}             ############## Sonar stop script user sonar /data/sonarqube/bin/linux-x86-64/sonar.sh stop 
User={{ sonar_usr }}                         ############### Sonar dedicated user sonar
Group={{ sonar_usr }}                        ############### Sonar dedicated group sonar
Restart=always

[Install]
WantedBy=multi-user.target
