[Unit]
Description= {{ sonarqube_service }}       ############### Sonar service Name
After=syslog.target network.target

[Service]
Type=forking
ExecStart="{{ sonar_home }}-{{ sonar_version }}/bin/linux-x86-64/sonar.sh start"          ############## Sonar start script user sonar /data/sonarqube/bin/linux-x86-64/sonar.sh start 
ExecStop="{{ sonar_home }}-{{ sonar_version }}/bin/linux-x86-64/sonar.sh stop"              ############## Sonar stop script user sonar /data/sonarqube/bin/linux-x86-64/sonar.sh stop 
User={{ sonar_user }}                         ############### Sonar dedicated user sonar
Group={{ sonar_user }}                        ############### Sonar dedicated group sonar
Restart=always

[Install]
WantedBy=multi-user.target
