global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_server_port }}']

scrape_configs:
  - job_name: '{{ scrape_job_name }}'
    static_configs:
      - targets:
{% for host in ansible_play_hosts %}
          - '{{ hostvars[host].ansible_host | default(host) }}:{{ node_exporter_port }}'
{% endfor %}
