hostname: {{ ansible_host }}
http:
  port: {{ harbor_http }}                   ############### 80 
https:
  port: {{ harbor_https }}                  ############### 443
  certificate: {{ harbor_certificat }}             ############### /data/harbor/ssl/harbor.crt
  private_key: {{ harbor_key }}             ############### /data/harbor/ssl/harbor.key
data_volume: {{ harbor_home }}          ############### /data/harbor/
database:
  type: postgresql
  external:
    host: {{ external_db_host }}   ### Harbor User External DB Host
    port: {{ external_db_port }}   ### Harbor User External DB Port
    username: {{ harbor_db_user }} ### Harbor DB user Password
    password: {{ harbor_db_password }} ### Harbor DB user Password
    database: {{ harbor_db_name }} ### Harbor DB name
